/* Variables */
:root {
  --darkBlue: #0B0C1C;
  --white: #FFF;
  --navHeight: clamp(75px, 8vh, 8vh);
  --footerHeight: 40px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  color: var(--white);
}

body {
  background: var(--darkBlue);
  position: relative;
  overflow-x: hidden;
}

body[scroll] {
  height: 100vh;
  overflow: hidden;
}

.page-content {
  min-height: calc(100vh - var(--navHeight) - var(--footerHeight));
}

/* Reset de certaines balises */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

h1, h2 {
  padding: 1rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

.content {
  width: 70vw;
  margin: auto;
}


@media screen and (max-width: 768px){
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  .content {
    width: 90vw;
  }
}