.page-content {
  display: flex;
  flex-direction: column;
}

.page-content .upper {
  margin: auto;
  width: 50vw;
  height: calc(50vh - var(--navHeigh));
  padding-top: 20vh;
}

.page-content .upper p {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

/* .page-content .upper p ~ p {
  margin-top: 1rem;
} */

.page-content .upper .button {
  padding: 1rem 0;
}

.page-content .upper .button a {
  border: 2px solid var(--white);
  padding: 1rem;
  font-size: 1rem;
}

.page-content .upper .button a:hover {
  transition: 0.4s;
  width: 100%;
  height: 100%;
  background: var(--white);
  color: var(--darkBlue);
}

.page-content .lower {
  flex: 1;
  background: var(--white);
  position: relative;
}

.page-content .lower .devices {
  width: 40vw;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 768px){
  .page-content .upper {
    width: 90vw;
  }

  .page-content .upper p {
    font-size: 1.2rem;
  }

  .page-content .upper button {
    font-size: 0.8rem;
  }
  
  .page-content .lower .devices {
    display: none;
  }
}